################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab Assignments/War/War.VC.VC.opendb
*.opendb
